#container_all 
{
    width: 1400px;
    height: auto;
    margin: auto;
}
#banner 
{
    width: 100%;
    background-color: #FFF8D7;
    border: 1px solid #B1C4DF;
    padding: 20px 20px 15px 20px;
    margin-bottom: 20px;
    display: block;
}
#navigation 
{
    background-color: #FFF8D7;
    border: 1px solid #B1C4DF;
    width: 200px;
    float: left;
    height: auto;
    min-height: 1000px;
    margin-right: 20px;
    padding: 20px 20px 15px 20px;
}

#content 
{
    background-color: #FFF8D7;
    border: 1px solid #B1C4DF;
    width: 800px;
    float: left;
    height: auto;
    min-height: 1000px;
    padding: 20px 20px 15px 20px;
}

#column
{
    background-color: #FFF8D7;
    border: 1px solid #B1C4DF;
    width: 200px;
    float: left;
    height: auto;
    min-height: 1000px;
    margin-left: 20px;
    padding: 20px 20px 15px 20px;
}

#footer 
{
    background-color: #FFF8D7;
    border: 1px solid #B1C4DF;
    height: 100px;
    float: left;
    width: 100%;
    margin-top: 20px;
    padding: 20px 20px 15px 20px;
}

table.lines td {
    border: 1px solid black;
    background-color: #FFE87A;
}

.highlight
{
  color: red;
  font-weight: bold;
}
.auto-style1 
{
    width: 100%;
}
.auto-style2 
{
    width: 90px;
}
.auto-style3
{
    width: 99px;
}
tbChar {
    width: 65px;
}